<header class="p-4 rounded-t-3xl flex justify-between items-center bg-blue-400">
  <div class="text-xl">
    Purchase Order No: <span class="text-white">9100056789</span>
  </div>
  <div class="">
    <span>Hansdal coartionsLtd</span>,
    <span>pooja.shaoo&#64;gmail.com</span>,
    <span>98965436</span>
  </div>
  <div class="flex gap-6 items-center">
    <lucide-icon class="cursor-pointer" name="bell"></lucide-icon>
    <button class="border border-black p-2 rounded-xl">Submit</button>
  </div>
</header>
<mat-dialog-content class="mat-typography" class="relative">
  <app-delivery-status-table></app-delivery-status-table>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->

